<h1 class="font-bold text-2xl text-slate-700 text-center">Create your account</h1>

<p class="text-center mt-1">
  Have an account already? <%= link_to "Login", new_user_session_path, class: "text-blue-600 underline" %>
</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-4 placeholder:text-slate-400 text-slate-700 border-2 py-2.5 px-4 border-slate-200 bg-slate-50 rounded-xl w-full text-lg sm:text-xl focus:border-purple-400 focus:ring-purple-400">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address" %>
  </div>

  <div class="field mb-4 placeholder:text-slate-400 text-slate-700 border-2 py-2.5 px-4 border-slate-200 bg-slate-50 rounded-xl w-full text-lg sm:text-xl focus:border-purple-400 focus:ring-purple-400">
    <%#= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="field mb-4 placeholder:text-slate-400 text-slate-700 border-2 py-2.5 px-4 border-slate-200 bg-slate-50 rounded-xl w-full text-lg sm:text-xl focus:border-purple-400 focus:ring-purple-400">
    <%#= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
  </div>

  <div class="actions bg-gradient-to-r from-purple-500 to-pink-500 text-white rounded-xl py-2.5 px-4 text-center text-lg sm:text-xl font-semibold w-full hover:bg-gradient-to-tr">
    <%= f.submit "Sign Up" %>

  </div>
<% end %>

<%#= render "devise/shared/links" %>

